/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 50px;
  font-family: "Palatino Linotype", "Book Antiqua", serif ;
  font-style: italic;
}


div:hover{
  background-color: green;
  cursor: pointer;
}

p {
  border: 1px solid black;
  background-color: #0000FF;
  width: 90%;
  height: 180px;
  margin-right: 15px;
  margin-left: 15px;
  position: relative;
}

#p1 
{
  float: right;
  border: 1px solid black;
  background-color: #F778A1;
  width: 220px;
  height: 35px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  font-size: 25px;
  text-align: center;
}

#p2
{
  float: right;
  border: 1px solid black;
  background-color: #FF00FF;
  width: 220px;
  height: 35px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  font-size: 25px;
  text-align: center;
}

#p3
{
  float: right;
  border: 1px solid black;
  background-color: #00FF00;
  width: 220px;
  height: 35px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  font-size: 25px;
  text-align: center;
}

#p4
{
  position: absolute;
  margin-top: 45px;
  font-family: Helvetica;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3  {
    float: left;
   
  }
  .col-lg-1 {
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3 {
    float: left;
  }
  .col-md-1 {
    width: 50%;
  }
  .col-md-2 {
    width: 105%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3 {
    float: left;
  }
  .col-sm-1 {
    width: 100%;
  }
}